app:
  baseUrl: "${RHDH_BASE_URL}"
backend:
  baseUrl: "${RHDH_BASE_URL}"
  cors:
    origin: "${RHDH_BASE_URL}"

auth:
  # see https://backstage.io/docs/auth/ to learn about auth providers
  environment: production
  session:
    secret: superSecretSecret 
  providers:
    github:
      development:
        clientSecret: ${GITHUB_OAUTH_APP_SECRET}
        clientId: ${GITHUB_OAUTH_APP_ID}
        callbackUrl: "${RHDH_BASE_URL}/api/auth/github/handler/frame"
signInPage: github
